@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--accent-foreground: 217.2 32.6% 17.5%; // slate-800
		--accent: 214.3 31.8% 91.4%; // slate-200
		--background: 210 40% 98%; // slate-50
		--border: 214.3 31.8% 91.4%; // slate-200
		--card-foreground: 222.2 84% 4.9%; // slate-950
		--card: 210 40% 98%; // slate-50
		--chart-1: 12 76% 61%; // ?
		--chart-2: 173 58% 39%; // ?
		--chart-3: 197 37% 24%; // ?
		--chart-4: 43 74% 66%; // ?
		--chart-5: 27 87% 67%; // ?
		--constructive-foreground: 210 40% 98%; // slate-50
		--constructive: 142.1 76.2% 36.3%; // green-600
		--destructive-foreground: 210 40% 98%; // slate-50
		--destructive: 0 72.2% 50.6%; // red-600
		--foreground: 222.2 84% 4.9%; // slate-950
		--muted-foreground: 215.4 16.3% 46.9%; // slate-500
		--muted: 214.3 31.8% 91.4%; // slate-200
		--popover-foreground: 222.2 84% 4.9%; // slate-950
		--popover: 210 40% 98%; // slate-50
		--primary-foreground: 210 40% 98%; // slate-50
		--primary-highlight-foreground: 210 40% 98%; // slate-50
		--primary-highlight: 222 47% 11%;
		--primary: 222 47% 11%;
		--radius: 0.5rem;
		--secondary-foreground: 217.2 32.6% 17.5%; // slate-800
		--secondary-highligh-foreground: 217.2 32.6% 17.5%; // slate-800
		--secondary-highlight: 214.3 31.8% 91.4%; // slate-200
		--secondary: 214.3 31.8% 91.4%; // slate-200
	}

	.dark {
		--accent-foreground: 214.3 31.8% 91.4%; // slate-200
		--accent: 217.2 32.6% 17.5%; // slate-800
		--background: 222.2 84% 4.9%; // slate-950
		--border: 217.2 32.6% 17.5%; // slate-800
		--card-foreground: 210 40% 98%; // slate-50
		--card: 222.2 84% 4.9%; // slate-950
		--chart-1: 220 70% 50%; // ?
		--chart-2: 160 60% 45%; // ?
		--chart-3: 30 80% 55%; // ?
		--chart-4: 280 65% 60%; // ?
		--chart-5: 340 75% 55%; // ?
		--constructive-foreground: 210 40% 98%; // slate-50
		--constructive: 142.1 76.2% 36.3%; // green-600
		--destructive-foreground: 210 40% 98%; // slate-50
		--destructive: 0 72.2% 50.6%; // red-600
		--foreground: 210 40% 98%; // slate-50
		--muted-foreground: 215 20.2% 65.1%; // slate-400
		--muted: 217.2 32.6% 17.5%; // slate-800
		--popover-foreground: 210 40% 98%; // slate-50
		--popover: 222.2 84% 4.9%; // slate-950
		--primary-foreground: 210 40% 98%; // slate-50
		--primary-highlight-foreground: 210 40% 98%; // slate-50
		--primary: 210 40% 98%;
		--secondary-foreground: 214.3 31.8% 91.4%; // slate-200
		--secondary-highligh-foreground: 214.3 31.8% 91.4%; // slate-200
		--secondary-highlight: 217.2 32.6% 17.5%; // slate-800
		--secondary: 217.2 32.6% 17.5%; // slate-800
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	small {
		@apply text-sm leading-none;
	}
}

@layer components {
	.gap-default {
		@apply gap-2 md:gap-4;
	}
	.gap-x-default {
		@apply gap-x-2 md:gap-x-4;
	}
	.gap-y-default {
		@apply gap-y-2 md:gap-y-4;
	}
	.m-default {
		@apply m-2 md:m-4;
	}
	.p-default {
		@apply p-2 md:p-4;
	}
	.space-x-default {
		@apply space-x-2 md:space-x-4;
	}
	.space-y-default {
		@apply space-y-2 md:space-y-4;
	}
}
