/* prettier-ignore */
@source inline('{bg,text}-{gray,red,orange,amber,yellow,lime,green,emerald,teal,cyan,sky,blue,indigo,violet,purple,fuchsia,pink,rose}-{500}');

[data-color="red"] {
  --primary: var(--color-red-500);
  --ring: var(--color-red-500);
}
[data-color="red"].dark {
  --primary-foreground: white;
  --primary: var(--color-red-400);
  --ring: var(--color-red-400);
}

[data-color="orange"] {
  --primary: var(--color-orange-500);
  --ring: var(--color-orange-500);
}
[data-color="orange"].dark {
  --primary-foreground: white;
  --primary: var(--color-orange-400);
  --ring: var(--color-orange-400);
}

[data-color="amber"] {
  --primary: var(--color-amber-500);
  --ring: var(--color-amber-500);
}
[data-color="amber"].dark {
  --primary-foreground: white;
  --primary: var(--color-amber-400);
  --ring: var(--color-amber-400);
}

[data-color="yellow"] {
  --primary: var(--color-yellow-500);
  --ring: var(--color-yellow-500);
}
[data-color="yellow"].dark {
  --primary-foreground: white;
  --primary: var(--color-yellow-400);
  --ring: var(--color-yellow-400);
}

[data-color="lime"] {
  --primary: var(--color-lime-500);
  --ring: var(--color-lime-500);
}
[data-color="lime"].dark {
  --primary-foreground: white;
  --primary: var(--color-lime-400);
  --ring: var(--color-lime-400);
}

[data-color="green"] {
  --primary: var(--color-green-500);
  --ring: var(--color-green-500);
}
[data-color="green"].dark {
  --primary-foreground: white;
  --primary: var(--color-green-400);
  --ring: var(--color-green-400);
}

[data-color="emerald"] {
  --primary: var(--color-emerald-500);
  --ring: var(--color-emerald-500);
}
[data-color="emerald"].dark {
  --primary-foreground: white;
  --primary: var(--color-emerald-400);
  --ring: var(--color-emerald-400);
}

[data-color="teal"] {
  --primary: var(--color-teal-500);
  --ring: var(--color-teal-500);
}
[data-color="teal"].dark {
  --primary-foreground: white;
  --primary: var(--color-teal-400);
  --ring: var(--color-teal-400);
}

[data-color="cyan"] {
  --primary: var(--color-cyan-500);
  --ring: var(--color-cyan-500);
}
[data-color="cyan"].dark {
  --primary-foreground: white;
  --primary: var(--color-cyan-400);
  --ring: var(--color-cyan-400);
}

[data-color="sky"] {
  --primary: var(--color-sky-500);
  --ring: var(--color-sky-500);
}
[data-color="sky"].dark {
  --primary-foreground: white;
  --primary: var(--color-sky-400);
  --ring: var(--color-sky-400);
}

[data-color="blue"] {
  --primary: var(--color-blue-500);
  --ring: var(--color-blue-500);
}
[data-color="blue"].dark {
  --primary-foreground: white;
  --primary: var(--color-blue-400);
  --ring: var(--color-blue-400);
}

[data-color="indigo"] {
  --primary: var(--color-indigo-500);
  --ring: var(--color-indigo-500);
}
[data-color="indigo"].dark {
  --primary-foreground: white;
  --primary: var(--color-indigo-400);
  --ring: var(--color-indigo-400);
}

[data-color="violet"] {
  --primary: var(--color-violet-500);
  --ring: var(--color-violet-500);
}
[data-color="violet"].dark {
  --primary-foreground: white;
  --primary: var(--color-violet-400);
  --ring: var(--color-violet-400);
}

[data-color="purple"] {
  --primary: var(--color-purple-500);
  --ring: var(--color-purple-500);
}
[data-color="purple"].dark {
  --primary-foreground: white;
  --primary: var(--color-purple-400);
  --ring: var(--color-purple-400);
}

[data-color="fuchsia"] {
  --primary: var(--color-fuchsia-500);
  --ring: var(--color-fuchsia-500);
}
[data-color="fuchsia"].dark {
  --primary-foreground: white;
  --primary: var(--color-fuchsia-400);
  --ring: var(--color-fuchsia-400);
}

[data-color="pink"] {
  --primary: var(--color-pink-500);
  --ring: var(--color-pink-500);
}
[data-color="pink"].dark {
  --primary-foreground: white;
  --primary: var(--color-pink-400);
  --ring: var(--color-pink-400);
}

[data-color="rose"] {
  --primary: var(--color-rose-500);
  --ring: var(--color-rose-500);
}
[data-color="rose"].dark {
  --primary-foreground: white;
  --primary: var(--color-rose-400);
  --ring: var(--color-rose-400);
}
