@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-background: var(--background);
  --color-binary: var(--binary);
  --color-border: var(--border);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-constructive: var(--constructive);
  --color-constructive-foreground: var(--constructive-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-foreground: var(--foreground);
  --color-input: var(--input);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-ring: var(--ring);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar: var(--sidebar);

  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 2px);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius) + 2px);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --accent-foreground: var(--color-zinc-950);
  --accent: var(--color-zinc-200);
  --background: var(--color-zinc-50);
  --binary: white;
  --border: var(--color-zinc-300);
  --card-foreground: var(--color-zinc-950);
  --card: var(--color-zinc-50);
  --constructive-foreground: var(--color-zinc-50);
  --constructive: oklch(62.7% 0.194 149.214);
  --destructive-foreground: var(--color-zinc-50);
  --destructive: oklch(57.7% 0.245 27.325);
  --foreground: var(--color-zinc-950);
  --input: var(--color-zinc-300);
  --muted-foreground: var(--color-zinc-600);
  --muted: var(--color-zinc-200);
  --popover-foreground: var(--color-zinc-950);
  --popover: var(--color-zinc-50);
  --primary-foreground: var(--color-zinc-50);
  --primary: var(--color-zinc-900);
  --radius: 0.5rem;
  --ring: var(--color-zinc-400);
  --secondary-foreground: var(--color-zinc-950);
  --secondary: var(--color-zinc-300);

  --sidebar-accent-foreground: var(--color-zinc-950);
  --sidebar-accent: var(--color-zinc-300);
  --sidebar-border: var(--color-zinc-300);
  --sidebar-foreground: var(--color-zinc-950);
  --sidebar-primary-foreground: var(--color-zinc-50);
  --sidebar-primary: var(--color-zinc-900);
  --sidebar-ring: var(--color-zinc-400);
  --sidebar: var(--color-zinc-100);
}

.dark {
  --accent-foreground: var(--color-zinc-50);
  --accent: var(--color-zinc-800);
  --background: var(--color-zinc-950);
  --binary: black;
  --border: var(--color-zinc-700);
  --card-foreground: var(--color-zinc-50);
  --card: var(--color-zinc-950);
  --foreground: var(--color-zinc-50);
  --input: var(--color-zinc-700);
  --muted-foreground: var(--color-zinc-400);
  --muted: var(--color-zinc-800);
  --popover-foreground: var(--color-zinc-50);
  --popover: var(--color-zinc-950);
  --primary-foreground: var(--color-zinc-950);
  --primary: var(--color-zinc-100);
  --ring: var(--color-zinc-600);
  --secondary-foreground: var(--color-zinc-50);
  --secondary: var(--color-zinc-700);

  --sidebar-accent-foreground: var(--color-zinc-50);
  --sidebar-accent: var(--color-zinc-700);
  --sidebar-border: var(--color-zinc-700);
  --sidebar-foreground: var(--color-zinc-50);
  --sidebar-primary-foreground: var(--color-zinc-950);
  --sidebar-primary: var(--color-zinc-100);
  --sidebar-ring: var(--color-zinc-500);
  --sidebar: var(--color-zinc-900);
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
