@theme inline {
  --animate-shine: shine var(--duration) infinite linear;

  @keyframes shine {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    to {
      background-position: 0% 0%;
    }
  }
}

@utility border-shine {
  @apply relative focus-visible:outline-none;
  @apply before:absolute before:-inset-0.5 before:rounded-[inherit] before:content-[''];
  @apply before:pointer-events-none before:border-2 before:border-transparent;
  @apply before:bg-size-[300%_300%] before:mask-exclude;
  @apply before:will-change-[background-position] motion-safe:before:animate-shine;

  &::before {
    background-image: radial-gradient(
      transparent,
      transparent,
      var(--primary),
      var(--border),
      transparent,
      transparent
    );
    animation: shine 14s linear infinite;
    -webkit-mask:
      linear-gradient(white 0 0) content-box,
      linear-gradient(white 0 0);
    mask:
      linear-gradient(white 0 0) content-box,
      linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
